* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.main {
  height: 100vh;
  background-color: #5271e8;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  position: absolute;
  font-weight: 300;
  top: -60px;
}

form {
  position: relative;
  height: 446px;
  background-color: #ffffff;
  width: 90%;
  max-width: 800px;
  padding: 10px 10px;
  margin: auto;
  border: 3px solid #bbbbbb;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "translateFrom translateFrom translateFrom translateFrom translateFrom"
    "translateFromCopy translateFromSelect translateFromSelect translateFromSelect translateFromSpeak"
    ". . switch . . "
    "translateTo translateTo translateTo translateTo translateTo"
    "translateToCopy translateToSelect translateToSelect translateToSelect translateToSpeak"
    "translationBtn translationBtn translationBtn translationBtn translationBtn ";
}

.translateFrom {
  grid-area: translateFrom;
  justify-self: center;
  align-self: center;
}

.translateFromSelect {
  grid-area: translateFromSelect;
  justify-self: center;
  align-self: center;
}

.speakLeft {
  grid-area: translateFromSpeak;
  justify-self: center;
  align-self: center;
}

.copyLeft {
  grid-area: translateFromCopy;
  justify-self: center;
  align-self: center;
}

.switchButton {
  grid-area: switch;
  justify-self: center;
  align-self: center;
}

.translateTo {
  grid-area: translateTo;
  justify-self: center;
  align-self: center;
}

.speakRight {
  grid-area: translateToSpeak;
  justify-self: center;
  align-self: center;
}

.copyRight {
  grid-area: translateToCopy;
  justify-self: center;
  align-self: center;
}

.translateToSelect {
  grid-area: translateToSelect;
  justify-self: center;
  align-self: center;
}

.translateButton {
  grid-area: translationBtn;
  justify-self: center;
  align-self: center;
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #5271e8;
  color: white;
  margin: 10px;
}

.translateButton:hover {
  background-color: #657fe7;
  cursor: pointer;
}

.disabled:hover {
  cursor: not-allowed;
}

.translationDropdowns {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bbbbbb;
}

.translationBox {
  width: 100%;
  height: 100px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  resize: none;
  padding: 5px;
  outline: none;
  box-shadow: none;
}

select {
  appearance: none;
}

img {
  border-radius: 5px;
  padding: 10px;
}

img:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

/* drop-down arrow */
select.round {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

/* loading spinner  */
.lds-spinner {
  color: official;
  display: inline-block;
  position: absolute;
  height: 80px;
  top: 50.5%;
  left: 41.5%;
  visibility: hidden;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #222222;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 650px) {
  form {
    height: 300px;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "translateFrom translateFrom translateFrom translateFrom translateFrom translateFrom translateFrom translateTo translateTo translateTo translateTo translateTo translateTo translateTo"
      "translateFromCopy translateFromSelect translateFromSelect translateFromSelect translateFromSelect translateFromSpeak switch switch translateToCopy translateToSelect translateToSelect translateToSelect translateToSelect translateToSpeak"
      "translationBtn translationBtn translationBtn translationBtn translationBtn translationBtn translationBtn translationBtn translationBtn translationBtn translationBtn translationBtn translationBtn translationBtn";
  }

  .lds-spinner {
    top: 7%;
    left: 69%;
  }

  .translateFrom {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .translateTo {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
